@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: "Elice";
    src: url("./EliceDigitalBaeumOTF_Regular.otf") format("opentype");
}
@font-face {
    font-family: "EliceBold";
    src: url("./EliceDigitalBaeumOTF_Bold.otf") format("opentype");
}
